.card_container {
    margin: 20px;
}

button {
    margin-right: 10px;
}

img {
    margin-bottom: 10px;
}

b {
    font-size: 8px;
}

.card {
    display: inline-block;
    margin-right: 10px;
    width: 200px;
}

.btn-primary {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    width: 60px;
    margin-right: 5px;
}