<div class="card_container">
    <article class="card" *ngFor="let employee of empDetails; let indexCount = index">
        <img [src]="employee.avatar" class="card-img-top" [alt]="employee.name">
        <div class="card-body">
          <h5 class="card-title">{{employee.name}}</h5>
          <p class="card-text">
              <b>Employee Id: {{employee.id}}</b><br/>
              <b>Employee Created On {{employee.createdAt}}</b><br/>
              <b>Employee Index {{indexCount}}</b>
          </p>
          <input type="button" class="btn btn-primary" value="Delete {{employee.name}}" (click)="deleteEmployee(employee.id)" />
        </div>
    </article><br/>

    <input type="button" class="btn btn-primary" value="Add New Employee" (click)="addNewEmployee()" />
</div>