<article class="card {{theme}}   ">
    <img [src]="employee.avatar" class="card-img-top" [alt]="employee.name">
    <div class="card-body">
      <h5 class="card-title">{{employee.name | titlecase}}</h5>
      <p class="card-text">
        <b>Employee Name: {{employee.name}}</b><br/>
        <b>Employee Currency: {{employee.id | currency : 'EUR'}}</b><br/>
        <b>Employee Id: {{employee.id}}</b><br/>
        <b>Employee Created On {{employee.createdAt}}</b><br/>
        <b>Employee Index {{indexCount}}</b>
      </p>
      <input type="button" class="btn btn-primary" value="Delete {{employee.name}}" (click)="deleteEmployee(employee.id)" />
    </div>
</article><br/><br/>
<input type="text" #appTheme/>
<input type="button" value="Apply Theme" (click)="updateThemeFromInput(appTheme)"  /><br/><br/>
<input type="button" class="theme_buttons" (click)="updateTheme('black')" value="Update To Black" />
<input type="button" class="theme_buttons" (click)="updateTheme('red')" value="Update To Red" />
<input type="button" class="theme_buttons" (click)="updateTheme('grey')" value="Update To Grey" />
<input type="button" class="theme_buttons" (click)="updateTheme('white')" value="Update To Default" />
