.card_container {
    margin: 20px;
}

button {
    margin-right: 10px;
}

img {
    margin-bottom: 10px;
}

b {
    font-size: 7px;
}

.card {
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    margin-bottom: 5px;
}

.btn-primary {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    margin-right: 5px;
    
}

.card-title {
    font-size: 12px;
}

h1 {
    margin-left: 20px;
}